<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf='post'>
        {{ post.author}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list lines="none" *ngIf='post'>
      <ion-img src="{{post.image}}"></ion-img>
        <ion-item *ngFor='let item of post.comments'>
          <ion-label>{{item.author}}: {{item.message}}</ion-label>
        </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-input placeholder="Insert your message here" [(ngModel)]='comment.message'></ion-input>
      <ion-button (click)='send()'>Send</ion-button>
    </ion-toolbar>
  </ion-footer>
  