<ion-header>
  <ion-toolbar>
    <ion-title>
      Notizie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let post of posts">
    <ion-card class="welcome-card">
      <ion-img src="{{post.image}}"></ion-img>
      <ion-card-header >
        <ion-card-subtitle>
          {{post.author}}
        </ion-card-subtitle>
        <ion-card-title>
          <h6>{{post.message}}</h6>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content [routerLink]="['/', 'tabs', 'tab1', post.id]">
        Comments:
      </ion-card-content>
      <ion-card-content *ngFor="let item of post.comments">
        {{item.author}}: {{item.message}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
